#navbar-component {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 8px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: saturate(180%) blur(12px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    #nav-items {
        display: flex;
        gap: 20px;

        li {
            .nav-item {
                color: rgba(59, 130, 246, 0.9);
                display: flex;
                gap: 5px;
                transition: transform 0.1s ease-in-out, color 0.3s ease-in-out;

                &:hover {
                    color: rgba(59, 130, 246, 0.7);
                }

                &:hover span:nth-child(1) {
                    transform: scale(1.17);
                    color: rgba(59, 130, 246, 1.0);
                }

                span:nth-child(2) {
                    font-size: 1.1rem;

                    @media (max-width:700px) {
                        display: none;
                    }
                }
            }
        }

        @media (max-width:700px) {
            gap: 30px;
        }
    }
}