#navbar-component {
    background-color: rgba($color: violet, $alpha: 0.4);
    border-radius: 30px;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    #nav-items {
        display: flex;
        gap: 20px;

        li {
            div {
                display: flex;
                gap: 5px;

                p {
                    font-size: 1.1rem;
                }
            }
        }
    }
}