#navbar-component {
    background-color: rgba($color: white, $alpha: 0.7);
    border: rgba($color: white, $alpha: 0.3);
    border-radius: 30px;
    padding: 8px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: saturate(180%) blur(12px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    #nav-items {
        display: flex;
        gap: 20px;

        li {
            div {
                display: flex;
                gap: 5px;

                p {
                    font-size: 1.1rem;
                }
            }
        }
    }
}